@model Inward_Tapal.Models.Login
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @*<div class="form-horizontal">*@

    <br />
    <br />
    <br />
        <table align="center" >
            <tr>
                <td align="center">
                    <h4> LOGIN </h4>
                </td>
            </tr>
        <tr>
            <td>
                UserName:
            </td>
            <td>
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </td>
        </tr>
            <tr>
                <td>
                    PassWord:
                </td>
                <td>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </td>
            </tr>
           <tr>
               <td>
                   <input type="submit" value="Login" class="btn btn-default" />

               </td>
           </tr>
        </table>
}
    